<div class="panel-heading my-3">
<h2>Grade Disciplinas</h2>
</div>

<div class="panel-body">
<table class="table table-striped">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Nota P1</th>
        <th>Nota P2</th>
    </tr>

    </thead>
    <tbody>
    <tr *ngFor="let curso of cursos, index as i">

    <td>{{curso.name}}</td>
    <td><input  class="form-control" type="text" [value]="curso.p1" [(ngModel)]="curso.p1" (change)="updateNota()"></td>
    <td><input class="form-control"  type="text" [value]="curso.p2" [(ngModel)]="curso.p2" (change)="updateNota()"></td>

</tr>


    </tbody>

</table>
</div>
